.myacc{
width:95%;
margin:15px auto;
padding:15px;
/**background:#F0F0F0;*/
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#828282;	
}
.myacc_title span{
font-size:22px;
margin:5px 0;
}
.user_info{
display:block;
margin:0 5px 5px 0;
}
.user_info span{
font-size:18px;	
margin:5px 0;
}
.shipping_info{
display:block;
margin:35px 5px 5px 0;
}
.shipping_info span{
font-size:18px;	
margin:5px 0;
}
.billing_info{
display:block;
margin:35px 5px 5px 0;
}
.billing_info span{
font-size:18px;	
margin:5px 0;
}
.payment_method{
display:block;
margin:35px 5px 5px 0;
}
.payment_method span{
font-size:18px;	
margin:5px 0;
}
.myshoppe{
width:95%;
margin:5px auto;
padding:15px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#828282;		
}
.myshoppe_title span{
font-size:22px;
margin:5px 0;
}
.mywish_info{
display:block;
margin:0 5px 5px 0;	
}
.mywish_info span{
font-size:18px;	
margin:5px 0;
}
.mycart_info{
display:block;
margin:15px 5px 5px 0;	
}
.mycart_info span{
font-size:18px;	
margin:5px 0;
}
.purchase_info{
display:block;
margin:35px 5px 5px 0;	
}
.purchase_info span{
font-size:18px;	
margin:5px 0;
}
.total_purchase{
display:block;
margin:5px 5px 5px 0;	
}
.our_products{
width:95%;
margin:15px auto;
padding:15px;
background:#F0F0F0;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#828282;		
}
.our_products_title{
float:left;	
}
.our_products_title span{
font-size:22px;
margin:5px 0;
display:block;
margin:0 5px 5px 0;	
}
.new_release{
display:block;
margin:0 5px 5px 0;	
}
.new_release span{
font-size:18px;	
margin:5px 0;
}
.new_item{
display:block;
width:19.5%;
height:360px;
float:left;	
margin:5px 4px 0 0;
}
.promotions{
display:block;
margin:35px 5px 5px 0;	
}
.promotions span{
font-size:18px;	
margin:5px 0;
}