.box {
width:150px;	
}
.box1 {
width:200px;	
}
.cform{
margin:15px 0 35px 35px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#828282;
}
.left_cform{
float:left;	
width:50%;
margin:0 0 35px 0;
}
.left_cform h2{
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#09a79d;	
}
.left_block{
float:left;
margin:5px;	
}
.left_my{
float:left;	
margin:5px;
}
.left_sg{
float:left;	
}
.right_cform{
float:left;
margin:10px;	
}
.right_cform h2{
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#09a79d;	
}

.form{
margin:30px 0 5px 15px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#828282;
}
.form h1{
font-family:Arial, Helvetica, sans-serif;
font-size:36px;
color:#42c2cc;
}
.reg_form{
float:left;	
width:46%;
padding:10px;
margin:0 0 45px 0;
background:#F0F0F0;
}
.reg_form h2{
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#828282;	
}
.login_form{
float:left;	
width:46%;
padding:10px;
margin:0 0 0 20px;	
background:#F0F0F0;
}
.login_form h2{
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#828282;	
}
.shipp{
float:left;	
width:53%;
padding:10px;
margin:0 0 45px 0;
background:#F0F0F0;
}
.shipp h2{
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#828282;	
}
.cart_items{
float:right;	
width:39%;
padding:10px;
margin:0 15px 0 10px;	
background:#F0F0F0;
}
.upper_block{
float:left;	
}

.item_block1{
float:left;
}
.cart_text{
float:left;
}
.cart_edit{
margin:22px 0 0 210px;
float:right;
color:#C60;
}
.item_block2{
float:left;	
}
.item_block3{
float:left;	
}
.product_name{
float:left;	
margin-right:65px;
}
.product_price{
float:right;	
margin-left:65px;
}
.down_block{
float:left;	
margin:5px auto 10px;
padding:15px;
background:#F7F7F7;
width:auto;
}
.cart_total{
float:left;
}
.item_total{
float:left;	
margin-left:158px;
}
.item_price{
float:right;
margin-left:2px
}
.shipping_block{
float:left;	
margin-top:5px;
}
.shipping_text{
float:left;	
margin-left:215px;	
}
.shipping_price{
float:right;
margin-left:2px;
}
.tax_block{
float:left;	
margin-top:5px;
}
.sales_tax{
float:left;		
margin-left:213px;
}
.tax_price{
float:right;	
margin-left:2px;
}
.total_block{
float:left;	
margin-top:5px;
}
.total_text{
float:left;		
margin-left:142px;
font-size:18px;
}
.total_price{
float:right;	
margin-left:2px;
font-size:18px;
color:#006633;
}
.search{
float:right;
width:23%;
}
#search {

}

#search input[type="text"] {
    background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }

/*------------------search box---------------------*/

#search-box {
    position: relative;
    width: 99%;
    margin: 2px 1px 0 0;
}
#search-form {
    height: 26px;
    border: 1px solid #999;
   /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
    background-color: #fff;
    overflow: hidden;
}
#search-text {
    font-size: 11px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}
#search-box input[type="text"] {
    width: 90%;
    padding: 5px 0 12px 1em;
    color: #333;
    outline: none;
}
#search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 28px;
    width: 70px;
    font-size: 12px;
	font-weight:bold;
    color: #fff;
    text-align: center;
    line-height: 28px;
    border-width: 0;
    background-color: #999;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
/* search form 
-------------------------------------- */
.searchform {
  display: inline-block;
	zoom: 1; /* ie7 hack for display:inline-block */
	*display: inline;
	border: solid 1px #d2d2d2;
	padding: 1px 3px;
	
	/**-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;**/

	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);

	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
.searchform input {
	font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
	background: #fff;
	padding: 6px 6px 6px 8px;
	width: 140px;
	border: solid 1px #bcbbbb;
	outline: none;

	/*-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;*/

	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchform .searchbutton {
	color: #fff;
	border: solid 1px #494949;
	font-size: 11px;
	height: 27px;
	width: 27px;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);

	/*-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;*/

	background: #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
	background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}
