body{
background:#f7f7f7 url(../images/background.png) repeat left top;
}
.wrapper {
background:#FFF;
margin: 0 auto;
width:960px;
}
.header {
float:left;
width:960px;
padding:1px;
}
.logo {
padding:5px;
float:left;    
}
.c_title {
margin:12px 0 0 0;
float:left;
font-family:'Tw Cen MT';
font-size:46px;
color:#1ba89d;
text-decoration:none;
}
.c_title span{
color:#42c2cc;
}
.symbol{
margin:30px 0 0 0;
float:left;
font-family:'Tw Cen MT';
font-size:12px;
color:#42c2cc;
text-decoration:none;	
}
.cart_nav {
margin:15px 0 0 0;
float:right;
}

.cart_menu {
display:block;
width: 95px;
height:30px;
background:#1ba89d;
float:left;
margin:2px;
padding:5px;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#FFFFFF;
}

.mycart_icon{
position:fixed;
top:135px;
right:5px;
}

.clear {
clear:both;
padding:0;
margin:0;
width:100%;
font-size:0;
line-height:0;
}

.menu {
margin:0 auto;
padding:0;
height:35px;
border-color:#CCCCCC;
border-style:solid;
border-width:1px;	
width:958px;
}
.menu_nav {
float:left;
margin: 5px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;	
font-weight:bold;
color:#45b4aa;
text-decoration:none;
}
.menu_nav ul {
list-style:none;
padding:0;
height:25px;
float:left;
}
.menu_nav ul li {
margin:0;
padding:0 1px 0 0;
float:left;
}
.menu_nav ul li a {
float:left;
display:block;
margin:0;
padding:4px 0;
width:100px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;	
font-weight:bold;
color:#45b4aa;
text-decoration:none;
text-align:center;	
background:#fff;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
text-decoration:none;
color:#42c2cc;
	
}
.search_box {
float:left;
margin:2px 0;
}
.content{
width:960px;    
}
.slider {
width:100%;
}
.ads {
float:left;
margin:20px 0;    
}
.news {
float:left; 
margin:0 5px;
}
.sponsor {
float:left;
margin: 20px 6px;
width:945px;
}
.footer_wrapper {	
margin: 0 auto;
width:73%;
}
.sub_footer {
background:#1ba89d; 
font-family:Arial, Helvetica, sans-serif;
color:#fff; 
min-height:260px;
}
.subfooter_content{	
padding:15px 5px 20px;
font-size:12px;
}
.subfooter_block{
float:left;
margin:5px 55px 5px 5px;
}
.subfooter_block1{
float:left;
margin:5px 5px 5px 50px;
}
.subfooter_block2{
float:left;
margin:5px 45px 5px 45px;
}
.title_block {
float:left;
font-size:16px;
padding:0 0 0 2px;
}
.nav_block {
float:left;
}
.icon_block {
float:left;	
padding: 20px 5px;
}
.menu_block {
float:left;
font-size:12px;
padding:0 5px 0 0;
}
.credit_card{
float:left;
margin:5px;	
}
.footer {
width:100%;
float:left;
background:#545454;      
}
.footer_content{
	
}
.footer_social{
float:left;
margin:15px 8px 0 8px;
}
.footer_menu{
float:right;
margin:15px 5px 5px 5px;
font-family:Arial, Helvetica, sans-serif;
font-size:9px;
color:#fff;
text-decoration:none;
}
.arrow_box{
padding:2px 0;
margin:15px 0;
}
.copyright{
float:right;
margin: 5px;
font-family:Arial, Helvetica, sans-serif;
font-size:9px;
color:#fff	
}
.footer_wrapper{
margin:0 auto;
width:960px;
}